<h1>Welcome to CSE Motors!</h1>

<div class="delorean-img-container">
    <img src="/images/vehicles/delorean.jpg" />
    <div class="delorean-features-container">
      <h1>DMC Delorean</h1>
      <h2>3 Cup holders</h2>
      <h2>Superman doors</h2>
      <h2>Fuzzy dice!</h2>
    </br>
      <button class="own-today">
        <strong><h2>Own Today</h2></strong>
      </button>
    </div>
</div>

<div class="section-grid">
    <div class="section-2-container">
        <h2>Delorean</h2>

        <div class="flux-capacitor">
            <img src="/images/upgrades/flux-cap.png">
        </div>
        <a href="#"><p>Flux Capacitor</p></a>

        <div class="bumper-stickers">
            <img src="/images/upgrades/bumper_sticker.jpg">
        </div>
        <a href="#"><p>Bumper Stickers</p></a>
    </div>
    <div class="section-half-container">
        <h2>Upgrades</h2>
        <div class="flame-decals">
            <img src="/images/upgrades/flame.jpg">
        </div>
        <a href="#"><p>Flame Decals</p></a>

        <div class="hub-caps">
            <img src="/images/upgrades/hub-cap.jpg">
        </div>
        <a href="#"><p>Hub Caps</p></a>
    </div>









    <div class="section-3-container">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
        </br>
            <li>"Coolest ride on the road." (4/5)</li>
        </br>
            <li>"I'm feeling McFly!" (4/5)</li>
        </br>
            <li>"The most futuristics ride of four day." (4.5/5)</li>
        </br>
            <li>"80's livin and I love it ! (5/5)</li>
        </br>
        </ul>
    </div>
       
</div>

<h2>Tyrone Gonzalez</h2>
